:root {
  --bg: #0f0f1a;
  --card: #1a1a2e;
  --accent: #ff0077;
  --accent-light: #ff4da6;
  --text: #f5f5f5;
  --muted: #9ca3af;
  --radius: 12px;
}

* {
  box-sizing: border-box;
}


.abou tr{
  display: flex;
  gap: 10px;
}

@media screen and (max-width:777px) {
  .abou{
    overflow-x: scroll;
    scrollbar-color:var(--accent-light)#0f0f1a ;
  }
}
body::-webkit-scrollbar-track{
  background-color: #0404f6;
}
th, td {
  border: 3px solid var(--accent);
  border-radius: 10px;
  padding: 15px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: var(--bg);
  color: var(--text);
  line-height: 1.6;
}

h1, h2, h3 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  margin: 0 0 12px 0;
  color: var(--accent-light);
}

p {
  margin: 0 0 14px 0;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 6px 0;
}

header {
  background: var(--card);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--accent);
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0px;
}

.logo-img {
  height: 170px;
  width: auto;
}

.tag {
  font-size: 20px;
  color: var(--muted);
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 20px;
}

section {
  margin-bottom: 30px;
  background: var(--card);
  padding: 20px;
  border-radius: var(--radius);
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.contact a {
  color: var(--accent-light);
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: 20px;
  color: var(--muted);
}

input, textarea, select {
  padding: 10px;
  border-radius: var(--radius);
  border: 1px solid #333;
  background: #111;
  color: var(--text);
  font-size: 14px;
}

.btn {
  background: var(--accent);
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: var(--radius);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.btn:hover {
  background: var(--accent-light);
}

footer {
  text-align: center;
  padding: 20px;
  background: var(--card);
  border-top: 2px solid var(--accent);
}

.muted {
  color: var(--muted);
  font-size: 14px;
}
